$header-top-bg: #2d2a47;
$header-logo: #2f2c49;

//bavigation
$navigation-wrapper: #2a385e;
$navigation-item-hover: #4c66ab;

$news-title: #4a4a4a;
$news-desc: #7d7d7d;

$blue-hover: #3c5baf;
//footer
$footer-feedback: #4465bf;
$footer: #2d2a47;

$blue-title: #163269;
$text-color: #274268;

// global colors
$white: #fff;
$black: #000;
$silver: silver;
$orange: #ed642d;
$red: #ff1313;
$green: #0e920e;