.contacts {
    padding: 40px 0;

    &__title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__maps {
        width: 60%;
    }

    &__information {
        width: 40%;
    }
}