.gallery {
    padding: 30px 0;

    &__title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: -10px;
    }

    &__item {
        width: calc((100% / 5) - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    &__link {
        display: block;
    }

    &__image {
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .gallery {
        &__item {
            width: calc((100% / 4) - 10px);
        }
    }
}

@media screen and (max-width: 992px) {
    .gallery {
        &__item {
            width: calc((100% / 3) - 10px);
        }
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        &__item {
            width: calc((100% / 2) - 10px);
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .gallery {
        &__wrapper {
            margin-right: 0;
        }
        
        &__item {
            width: 100%;
            margin-right: 0;
        }

        &__image {
            width: 100%;
        }
    }
}